# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
venv/
env/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints

# Flask
instance/
.webassets-cache

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log